:root {
  --clr1: rgb(46, 129, 7);
  --clr2: rgb(168, 153, 20);

  --clr1bg: rgb(211, 251, 199);
  --clr1bg-light: rgb(205, 221, 200);
  --clr2bg: rgb(163, 176, 95);
  --clr2bg-light: rgb(243, 245, 234);

  --gray1: rgb(171, 180, 167);
  --gray2: rgb(155, 155, 155);
  --gray3: rgb(44, 44, 44);

} 